#slider {
    min-height: 70vh;
}

#section-1 {
    min-height: 400px;
    background: radial-gradient(#75ac03, yellowgreen);
}

#section-2 {
    min-height: 400px;
    background: white;
}

#section-3 {
    min-height: 500px;
    background-image: url(//cdn.shopify.com/s/files/1/1828/4857/files/image_with_text_overlay_img_2048x637_crop_center.jpg);
}

#section-4 {
    min-height: 400px;
    background: white;
}

#section-5 {
    min-height: 400px;
    background: radial-gradient(#75ac03, yellowgreen);
}

#section-6 {
    min-height: 400px;
    background: white;
}

#footer {
    min-height: 400px;
    background: radial-gradient(#75ac03, yellowgreen);
}