#navbar {
    height: 100px;
    background: white;
}

#nav-list a {
    color: black;
    height: 100px;
    font-size: 1rem;
}

#nav-list a:hover {
    color: yellowgreen;
}

#nav-list a:active {
    color: yellowgreen;
}

.uk-sticky-fixed {
    height: 80px!important;
}